.page{
  width:100%;
  margin: 50px auto 20px;
  border-top: 1px solid #ccc;
}

.hero{
  height: 200px;
  padding: 60px;
  background-image: url("https://www.vagrantup.com/images/vagrant_header_background-482a12a7.png");
  text-align: center;
  border-bottom: 1px solid #ccc;
}
