body {
}

.page{
  width:100%;
  margin: 50px auto 20px;
  border-top: 1px solid #ccc;
}

.hero{
  padding: 5px 60px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.hero-top{
  height: 200px;
  background-image: url("http://www.fukei-kabegami.com/cgi-bin/photo2/335/4839/1024-768.jpg");
  background-size: cover;
}

.regist{
  background-color: #ef932e;
  height: 200px;
}

.regist-face{
  height: 80px;
  width: 80px;
  margin: 0px auto;
  background-image: url("https://avatars0.githubusercontent.com/u/3541156?v=2&s=460");
  background-size: cover;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.mypage{
  height: 400px;
}

.myface{
  height: 80px;
  width: 100%;
  float: left;
  margin: 0px auto;
  position: relative;
  top: -40px;
}

.target-face{
  height: 80px;
  width: 100%;
  float: right;
}

.lover-face{
}

.target{
  height: 200px;
  width: 100%;
  background-color: #ef932e;
  display: block;
}

.lover{
  height: 200px;
  width: 100%;
  background-color: #eee;
  display: block;
}

.conversation{
  background-color: #eee;
}

.question{
  background-color: #E99;
}

.answer{
  background-color: #9e9;
}