<div class="page">
  <h3>やりとり</h3>
  <div class="conversation">
    <div class="question">
      <span>人生とは何ですか？</span>
    </div>
    <div class="answer">
      <span>学ぶことです</span>
    </div>
  </div>

  <div class="conversation">
  </div>
</div>