<div class="page">
  <section class="hero hero-top">
    <div class="container">
      <h3>教室の片隅の恋</h3>
    </div>
  </div>

  <div class="container">
    <div style="text-align: center;">
      <div class="btn btn-default">Sign Up</div>
    </div>
  </div>
</div>
