<section class="topPage" ontouchstart="">
<div class="page">
  <section class="hero hero-top">
    <div class="container">
      <h3>教室の片隅にうもれた恋。<br>見つけませんか？</h3>
    </div>
  </section>
</div>

<div class="container">
  <div style="text-align: center;">
    <a href="/regist">
      <div class="button">Sign Up</div>
    </a>
    </div>
  </div>
</div>

<div class="triangle"></div>

<div class="secondPage">
  <div class="container">
    <h3>1. 匿名の告白</h3>
    <div class="box">
      <img>
      <p>あなたは、好きな人に匿名で告白することができます。<br>今まで伝えることのできなかったあの人への思いを、HandShakeで伝えることができます。</p>
    </div>
      <div class="triangle"></div>
      <div class="triangle"></div>
    <h3>1. 匿名の告白</h3>
    <div class="box">
      <img>
      <p>あなたは、好きな人に匿名で告白することができます。<br>今まで伝えることのできなかったあの人への思いを、HandShakeで伝えることができます。</p>
    </div>
      <div class="triangle"></div>
      <div class="triangle"></div>
    <h3>1. 匿名の告白</h3>
    <div class="box">
      <img>
      <p>あなたは、好きな人に匿名で告白することができます。<br>今まで伝えることのできなかったあの人への思いを、HandShakeで伝えることができます。</p>
    </div>
  </div>
</div>
</section>
