<section class="topPage" ontouchstart="">
<div class="page">
  <section class="hero hero-top">
    <div class="container">
      <h3>教室の片隅にうもれた恋。<br>見つけませんか？</h3>
    </div>

  </section>
      <div class="top-image-line"></div>
</div>

<div class="container">
  <div style="text-align: center;">
    <a href="/regist" class="signup">
      <div class="button">Sign Up</div>
    </a>
    </div>
  </div>
</div>

<div class="triangle"></div>

<div class="secondPage">
  <div class="container">
    <h3>1. 匿名の告白</h3>
    <div class="box">
      <img>
      <p>あなたは、好きな人に匿名で告白することができます。<br>今まで伝えることのできなかったあの人への思いを、HandShakeで伝えることができます。</p>
    </div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <h3>2. 質問に答える</h3>
    <div class="box box2">
      <img>
      <p>あなたが告白した相手から、質問が届きます。<br>お互いの意思で、徐々に匿名化されている告白は明らかになっていきます。</p>
    </div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <h3>3. 日々に、彩りを。</h3>
    <div class="box box2">
      <img>
      <p>告白に成功して、あなたと、あなたの気になる人が結ばれたら、HandShakeからささやかな贈り物をさせていただきます。<br>2人の仲が、さらに深まりますように。</p>
    </div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <h3>4. さぁ、はじめよう</h3>
    <div class="box box2">
      <img>
      <p>HandShakeをはじめて、あの人へ想いを伝えよう。<br>もしかしたら告白は、あの人の方からやってくるかも...？</p>
    </div>
  </div>
    <a href="/regist" class="signup2">
      <div class="button">Sign Up</div>
    </a>
</div>
</div>
</section>
<script type="text/javascript" src="/js/main.js"></script>
