<div class="page">
  <section class="hero love">
    <div class=".face-out-circle">
      <img style="width: 100px; height:100px" href="<%= @target_img %>">
    </div>
  </section>
  <input type="text" class="form-control" id="HN" placeholder="Your Kokuhaku Name.">
  <input type="text" class="form-control" id="Reason" placeholder="Where do you like target.">
  <input type="text" class="form-control" id="Manifest" placeholder="Your manifest.">
</div>