<div class="page">
  <h3>告白事項</h3>
  <input type="text" class="form-control" id="HN" placeholder="Your Kokuhaku Name.">
  <input type="text" class="form-control" id="Reason" placeholder="Where do you like target.">
  <input type="text" class="form-control" id="Manifest" placeholder="Your manifest.">
</div>