<LINK href="/css/mypage.css" rel="stylesheet" type="text/css">
<section class="myPage">
  <div class="firstContents">
    <!-- 上画面：告白していない -->
    <!--
    <div class="lines">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div class="target-face">
      <div class="regist-face">
      </div>
    </div>
    <div class="hero target">
    </div>
    -->

    <!-- 上画面：告白している -->
    <p><span class="strong">3</span>Days</p>
    <div class="borderCircle circle1"></div>
    <div class="circle circle2"></div>
    <div class="borderCircle circle3"></div>
    <div class="circle circle4"></div>
    <div class="circle circle5"></div>
    <div class="borderCircle circle6"></div>
    <div class="borderCircle circle7"></div>
    <div class="circle circle8"></div>
    <div class="image">
      <div class="face-out-circle">
        <img src="https://avatars0.githubusercontent.com/u/3541156?v=2&s=460">
      </div>
    </div>
    <div class="slanting"></div>
    <div class="slanting2"></div>
    <div class="line"></div>
    <div class="borderCircle circle9"></div>
    <div class="triangle"></div>
    <div class="strong pct">
      <p>90%</p>
    </div>
  </div>

  <div class="middleContents">
    <div class="image">
      <div class="face-out-circle">
        <img src="https://avatars0.githubusercontent.com/u/3541156?v=2&s=460">
      </div>
    </div>
  </div>

  <div class="secondContents">
    <!-- 下画面：告白されていない -->


    <!-- 下画面：告白されている -->
    <div class="strong pct">
      <p>80%</p>
    </div>
    <div class="borderCircle circle1"></div>
    <div class="circle circle2"></div>
    <div class="borderCircle circle3"></div>
    <div class="circle circle4"></div>
    <div class="borderCircle circle5"></div>
    <div class="circle circle6"></div>
    <div class="circle circle7"></div>
    <div class="borderCircle circle8"></div>
    <div class="image">
      <div class="face-out-circle">
        <img src="">
      </div>
    </div>
    <div class="slanting"></div>
    <div class="slanting2"></div>
    <div class="line"></div>
    <div class="borderCircle circle9"></div>
    <div class="triangle"></div>
    <p><span class="strong">12</span>Hours</p>

  </div>
</section>
