<div class="page">
  <div class="target-face">
    <div class="regist-face">
    </div>
  </div>
  <div class="hero target">
  </div>
  <div class="myface">
    <div class="regist-face">
    </div>
  </div>
  <div class="hero lover">
  </div>
  <div class="lover-face">
    <div class="regist-face">
    </div>
  </div>
</div>