<div class="firstContents">
  <div class="page">
    <section class="hero regist">
    <div class="image">
      <div class="face-out-circle">
        <img src="https://avatars0.githubusercontent.com/u/3541156?v=2&s=460">
      </div>
    </div>
    <div class="forms">
      <input type="name" class="form-control" id="Email" placeholder="Name">
      <input type="email" class="form-control" id="Email" placeholder="Email">
    </div>
    </section>
  </div>
</div>

<div class="secondContents">
  <div style="text-align: center;">
    <h3>この内容で登録しますか？</h3>
    <div class="btn btn-default">Yes</div>
    <div class="btn btn-default">No</div>
  </div>
</div>
