<div class="page">
  <section class="hero regist">
    <div class="face-out-circle">
      <div class="regist-face">
      </div>
    </div>
    <input type="name" class="form-control" id="Email" placeholder="Enter name">
    <input type="email" class="form-control" id="Email" placeholder="Enter email">
  </section>
</div>

<div style="text-align: center;">
  <div class="btn btn-default">Yes</div>
  <div class="btn btn-default">No</div>
</div>
