<link href="/css/select.css" rel="stylesheet" type="text/css">
<div class="selectPage">
<div class="page">

  <div class="line-out">
    <div class="line-in">
      <p>
        告白相手を探す
      </p>
    </div>
  </div>
  <div class="container">
    <div class="box">
      <span class="glyphicon glyphicon-search white"></span>
      <input type="name" class="form-control" id="Target" value="">
    </div>
    <div class="select">
      <% @friends_ids.each do |id| %>
      <div class="face-out-circle">
        <a href="/love?target=<%= id[0] %>">
          <img src="<%= id[1] %>">
        </a>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
<script type="text/javascript" src="/js/select.js"></script>