<div class="page">
  <h3>相手を選ぶ</h3>
  <div class="container">
    <input type="name" class="form-control" id="Target" placeholder="Target" value="">
    <div class="select">
      <% @friends_ids.each do |id| %>
      <div class="face-out-circle">
        <a href="/love?target=<%= id[0] %>">
          <img src="<%= id[1] %>">
        </a>
      </div>
      <% end %>
    </div>
  </div>
</div>