.page {
  height: 130px;
  background-color: #ddd;
  display: block;
}

.love-target-face {
  width: 200px;
  margin: 0px auto;
}

.face-out-circle {
  height: 130px;
  width: 130px;
  margin: 0px auto;
  -moz-border-radius: 130;
  -webkit-border-radius: 130px;
  border-radius: 130;
  border: 2px solid #ecb47b;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.face-out-circle img{
  margin: 0px auto;
  background-size: cover;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;

  height: 90px;
  width: 90px;
  border: 5px #eca052 solid;
}