body {
}

/*
.container {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
*/

.page{
  width:100%;
  margin: 50px auto 20px;
  border-top: 1px solid #ccc;
}

.hero{
  padding: 5px 60px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.contents {
  height: 100%;
}

.firstContents {
  background-color: #ef932e;
  height: 240px;
}

/*
 * Top Page
 */

.hero-top{
  height: 200px;
  background-image: url("http://www.fukei-kabegami.com/cgi-bin/photo2/335/4839/1024-768.jpg");
  background-size: cover;
}

.hero-top h3 {
  color: white;
  font-size: 18px;
  line-height: 28px;
  position: absolute;
  right: 0;
  top: 170px;
  text-align: right;
}

.topPage .button {
  color: #ef932e;
  font-size: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 130px;
  width: 130px;
  border: solid;
  border-width: 1px;
  border-color: #ef932e;
  border-radius 10px;
  /* for chrome, safari */
  -webkit-border-radius: 10px;
}

.triangle {
  margin-right: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 8px solid #ef932e;
}

.secondPage {
  background-color: #ef932e;
  color: white;
}

.secondPage h3 {
  font-size: 20px;
}

.box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.box img {
  float: left;
  background-color: white;
  width: 70px;
  height: 70px;
  margin-right: 15px;
}

.box p {
  font-size: 10px;
}

.secondPage .triangle {
  border: 6px solid transparent;
  border-top: 6px solid white;
}


/*
 * Registering Page
 */

.registeringPage .image {
  display: table;
  margin-top: 38px;
  margin-right: auto;
  margin-left: auto;
}

.registeringPage .face-out-circle {
    height: 130px;
    width: 130px;
    margin: 0px auto;
    -moz-border-radius: 130;
    -webkit-border-radius: 130px;
    border-radius: 130;
    border: 2px solid #ecb47b;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.firstContents img {
  height: 100px;
  width: 100px;
  margin: 0px auto;
  background-size: cover;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.forms {
  height: 10px;
  margin-bottom: 15px;
  position: absolute;
  top: 164px;
  left: 73px;
}

.firstContents input {
  margin-bottom: 3px;
}

.secondContents h3 {
  margin-top: 50px;
}

.secondContents .buttons {
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  display: table;
  border-collapse: separate;
  border-spacing: 15px 0;  
}

.registeringPage .button {
  color: #ef932e;
  font-size: 18px;
  width: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid;
  border-width: 1px;
  border-color: #ef932e;
  border-radius 15px;
  /* for chrome, safari */
  -webkit-border-radius: 15px;
  display: table-cell;
}

.registeringPage .button2 {
  color: white;
  font-size: 18px;
  width: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid;
  border-width: 1px;
  background-color: #ef932e;
  border-radius 15px;
  /* for chrome, safari */
  -webkit-border-radius: 15px;
  display: table-cell;
}


/*
 * Mypage
 */

.myPage {
  height: 100%
}

.myPage .lines {
  margin-left: 20px;
}

.myPage .line {
  margin-top: 30px;
  margin-right: 10px;
  width: 10px;
  border-top: 3px solid white;
  float: left;
}

.myPage .firstContents p {
  margin-top: 50px;
  font-size: 30px;
  color: #eee;
}

.strong {
  font-size: 45px;
  margin-left: 10px;
  margin-right: 4px;
}

.myPage .firstContents .image {
  display: table;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  position: absolute;
  right: -10px;
  top: 45px;
}

.myPage .firstContents .face-out-circle {
    height: 130px;
    width: 130px;
    margin: 0px auto;
    -moz-border-radius: 130px;
    -webkit-border-radius: 130px;
    border-radius: 130px;
    border: 1px solid #eee;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.myPage .firstContents img {
  height: 105px;
  width: 105px;
  margin: 0px auto;
  background-size: cover;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.myPage .circle {
  margin: 0px auto;
  -moz-border-radius: 130;
  -webkit-border-radius: 130px;
  border-radius: 130;
  background-color: #eee;
  position: absolute;
}

.myPage .borderCircle {
    margin: 0px auto;
    -moz-border-radius: 130;
    -webkit-border-radius: 130px;
    border-radius: 130;
    border: 3px solid #eee;
    position: absolute;
}

.myPage .circle1 {
  height: 20px;
  width: 20px;
  top: 249px;
  left: 77px;
}

.myPage .circle2 {
  height: 23px;
  width: 23px;
  top: 225px;
  left: 51px;
}
  
.myPage .circle3 {
  height: 30px;
  width: 30px;
  top: 206px;
  left: 81px;
}

.myPage .circle4 {
  height: 33px;
  width: 33px;
  top: 169px;
  left: 75px;
}

.myPage .circle5 {
  height: 40px;
  width: 40px;
  top: 158px;
  left: 118px;
}

.myPage .circle6 {
  height: 30px;
  width: 30px;
  top: 121px;
  left: 114px;
}

.myPage .circle7 {
  height: 45px;
  width: 45px;
  top: 130px;
  left: 160px;
}

.myPage .circle8 {
  height: 55px;
  width: 55px;
  top: 70px;
  left: 136px;
}


.slanting {
  height: 0px;
  width: 0px;
  border: 10px solid transparent;
  border-top: 10px solid #eee;
  border-left: 10px solid #eee;
  position: absolute;
  top: 166px;
  left: 210px;
}

.slanting2 {
  height: 0px;
  width: 0px;
  border: 10px solid transparent;
  border-top: 10px solid #ef932e;
  border-left: 10px solid #ef932e;
  z-index: 10;
  position: absolute;
  top: 165px;
  left: 209px;
}

.myPage .line  {
  border-top: 1px solid #eee;
  height: 0px;
  width: 100px;
  position: absolute;
  top: 156px;
  left: 210px;
}

.myPage .circle9 {
  height: 20px;
  width: 20px;
  top: 220px;
  left: 300px;
  border: 1px solid #eee;
}

.myPage .triangle {
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: 8px solid #eee;
  position: absolute;
  top: 222px;
  left: 307px;
}

.myPage .firstContents .pct p {
  color: #eee;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 190px;
  right: 3px;
}

/* Middle Contents from Here */
.myPage .middleContents .image {
  display: table;
  position: absolute;
  top: 227px;
  left: 97px;
}

.myPage .middleContents .face-out-circle {
    height: 130px;
    width: 130px;
    margin: 0px auto;
    -moz-border-radius: 130px;
    -webkit-border-radius: 130px;
    border-radius: 130px;
    border: 2px solid #ecb47b;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.myPage .middleContents img {
  height: 100px;
  width: 100px;
  margin: 0px auto;
  background-size: cover;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

/* Second Contents from Here */
.myPage .secondContents .pct p {
  color: #ef932e;
  font-size: 40px;
  position: absolute;
  top: 240px;
  left: 10px;
}

.myPage .secondContents .image {
  display: table;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  position: absolute;
  right: -10px;
  top: 45px;
}

.myPage .secondContents .face-out-circle {
    height: 130px;
    width: 130px;
    margin: 0px auto;
    -moz-border-radius: 130px;
    -webkit-border-radius: 130px;
    border-radius: 130px;
    border: 1px solid #eee;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.myPage .secondContents img {
  height: 105px;
  width: 105px;
  margin: 0px auto;
  background-size: cover;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.myPage .secondContents p {
  margin-top: 50px;
  font-size: 30px;
  color: #ef932e;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.myPage .triangle {
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: 8px solid #eee;
  position: absolute;
  top: 222px;
  left: 307px;
}


.myface{
  height: 80px;
  width: 100%;
  float: left;
  margin: 0px auto;
  position: relative;
  top: -40px;
}

.target-face{
  height: 80px;
  /* width: 100%; */
  float: right;
}

.lover-face{
  height: 80px;
  /* width: 100%; */
  float: left;
  position: relative;
  top: -80px;
}

.target{
  height: 200px;
  width: 100%;
  background-color: #ef932e;
  display: block;
}

.lover{
  height: 200px;
  width: 100%;
  background-color: #eee;
  display: block;
}

.conversation{
  background-color: #eee;
}

.question{
  background-color: #E99;
}

.answer{
  background-color: #9e9;
}
