/*
* 白オレンジ         : #ece0d2
* 黒                : #261a0d
* 一番目に濃いオレンジ: #ec902e
* 二番目に濃いオレンジ: #eca052
* 三番目に濃いオレンジ: #ecb47b
* 一番目に濃い紫     : #b75fd4
* 二番目に濃い紫     : #de73e0
* 三番目に濃い紫     : #d685a6
* 黒紫              : #4f4549

* フォーム: #d4c7cc
* フォームタイトル: #9e9498
*/

.page{
  margin: 50px auto 20px;
  border-top: 1px solid #ccc;
}

.hero{
  padding: 5px 60px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.contents {
  height: 100%;
}

.firstContents {
  background-color: #ef932e;
  height: 240px;
}

/*
 * Mypage
 */

.myPage{
  height: 100%
}

.firstContents .lines {
  margin-left: 20px;
}

.firstContents .line {
  margin-top: 30px;
  margin-right: 10px;
  width: 10px;
  border-top: 3px solid white;
  float: left;
}

.firstContents p {
  margin-top: 50px;
  font-size: 30px;
  color: #ece0d2;
}

.strong {
  font-size: 45px;
  margin-left: 10px;
  margin-right: 4px;
}

.firstContents .image {
  display: table;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  position: absolute;
  right: 0px;
  top: 50px;
  overflow: hidden;
  z-index: 5;
}

.firstContents .mask {
  position: relative;
  top: -10px;
  right: -10px;
  z-index: 10;
}

.firstContents .face-out-circle {
  height: 100px;
  width: 100px;
  margin: 0px auto;
  -moz-border-radius: 130px;
  -webkit-border-radius: 130px;
  border-radius: 130px;
  border: 1px solid #ecb47b;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.firstContents img {
  height: 90px;
  width: 90px;
  margin: 0px auto;
  background-size: cover;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 5px solid #eca052;
}

.firstContents .circle {
  margin: 0px auto;
  -moz-border-radius: 130;
  -webkit-border-radius: 130px;
  border-radius: 130;
  background-color: #ece0d2;
  position: absolute;
}

.firstContents .borderCircle {
  margin: 0px auto;
  -moz-border-radius: 130;
  -webkit-border-radius: 130px;
  border-radius: 130;
  border: 2px solid #ece0d2;
  position: absolute;
}

.firstContents .circle1 {
  height: 10px;
  width: 10px;
  top: 239px;
  left: 112px;
}

.firstContents .circle2 {
  height: 13px;
  width: 13px;
  top: 222px;
  left: 100px;
}

.firstContents .circle3 {
  height: 18px;
  width: 18px;
  top: 202px;
  left: 112px;
}

.firstContents .circle4 {
  height: 22px;
  width: 22px;
  top: 174px;
  left: 103px;
}

.firstContents .circle5 {
  height: 32px;
  width: 32px;
  top: 158px;
  left: 130px;
}

.firstContents .circle6 {
  height: 30px;
  width: 30px;
  top: 121px;
  left: 125px;
}

.firstContents .circle7 {
  height: 48px;
  width: 48px;
  top: 130px;
  left: 170px;
}

.firstContents .circle8 {
  height: 60px;
  width: 60px;
  top: 65px;
  left: 155px;
}

.firstContents .slanting {
  height: 0px;
  width: 0px;
  border: 10px solid transparent;
  border-top: 10px solid #ecb47b;
  border-left: 10px solid #ecb47b;
  position: absolute;
  top: 130px;
  left: 230px;
  z-index: 4;
}

.firstContents .slanting2 {
  height: 0px;
  width: 0px;
  border: 10px solid transparent;
  border-top: 10px solid #ef932e;
  border-left: 10px solid #ef932e;
  z-index: 5;
  position: absolute;
  top: 129px;
  left: 229px;
  z-index: 4;

}

.firstContents .line  {
  border-top: 1px solid #ecb47b;
  height: 0px;
  width: 80px;
  position: absolute;
  top: 120px;
  left: 230px;
}

.firstContents .circle9 {
  height: 20px;
  width: 20px;
  top: 220px;
  left: 300px;
  border: 1px solid #ece0d2;
}

.firstContents .triangle {
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: 8px solid #ece0d2;
  position: absolute;
  top: 222px;
  left: 307px;
}

.firstContents .pct p {
  color: #eee;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 190px;
  right: 3px;
}

.target_name  h5 {
  color: #ece0d2;
  font-size: 14px;
  position: absolute;
  top: 146px;
  right: 16px;
}

/* Middle Contents from Here */
.middleContents .image {
  display: table;
  position: absolute;
  top: 235px;
  left: 110px;
  z-index: 20;
}


.middleContents .harf-image {
  position: absolute;
  top: 235px;
  left: 110px;
  height: 55px;
  width: 110px;
  overflow: hidden;
  z-index: 21;
}

.middleContents .face-out-circle {
    height: 110px;
    width: 110px;
    margin: 0px auto;
    -moz-border-radius: 130px;
    -webkit-border-radius: 130px;
    border-radius: 130px;
    border: 1px solid #ecb47b;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.middleContents .harf-face-out-circle {
    height: 110px;
    width: 110px;
    margin: 0px auto;
    -moz-border-radius: 130px;
    -webkit-border-radius: 130px;
    border-radius: 130px;
    border: 1px solid white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.middleContents img {
  height: 100px;
  width: 100px;
  margin: 0px auto;
  background-size: cover;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 5px solid #eca052;
}

.middleContents .harf-image img {
  height: 100px;
  width: 100px;
  margin: 0px auto;
  background-size: cover;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 5px solid white;
}

/* Second Contents from Here */

.secondContents p {
  margin-top: 50px;
  font-size: 30px;
  color: #ece0d2;
}

.secondContents .pct p {
  color: #ef932e;
  font-size: 40px;
  position: absolute;
  font-weight: bold;
  top: 240px;
  left: 10px;
}

.secondContents .circle {
  margin: 0px auto;
  -moz-border-radius: 130;
  -webkit-border-radius: 130px;
  border-radius: 130;
  background-color: #ef932e;
  position: absolute;
}

.secondContents .borderCircle {
  margin: 0px auto;
  -moz-border-radius: 130;
  -webkit-border-radius: 130px;
  border-radius: 130;
  border: 2px solid #ef932e;
  position: absolute;
}

.secondContents .circle1 {
  height: 15px;
  width: 15px;
  top: 468px;
  left: 92px;
}

.secondContents .circle2 {
  height: 20px;
  width: 20px;
  top: 458px;
  left: 113px;
}

.secondContents .circle3 {
  height: 30px;
  width: 30px;
  top: 424px;
  left: 103px;
}

.secondContents .circle4 {
  height: 27px;
  width: 27px;
  top: 415px;
  left: 138px;
}

.secondContents .circle5 {
  height: 48px;
  width: 48px;
  top: 398px;
  left: 174px;
}

.secondContents .circle6 {
  height: 45px;
  width: 45px;
  top: 349px;
  left: 162px;
}

.secondContents .circle7 {
  height: 40px;
  width: 40px;
  top: 381px;
  left: 226px;
}

.secondContents .circle8 {
  height: 58px;
  width: 58px;
  top: 315px;
  left: 215px;
}

.secondContents .image {
  display: table;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  position: absolute;
  left: 0px;
  top:430px;
  z-index: 4;
  overflow: hidden;
}

.secondContents .mask {
  position: relative;
  top: 10px;
  left: -10px;
}

.secondContents .face-out-circle {
  height: 100px;
  width: 100px;
  margin: 0px auto;
  -moz-border-radius: 130px;
  -webkit-border-radius: 130px;
  border-radius: 130px;
  border: 1px solid #ec902e;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.secondContents img {
  height: 90px;
  width: 90px;
  margin: 0px auto;
  background-size: cover;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-color: #ece0d2;
}

.secondContents .slanting {
  height: 0px;
  width: 0px;
  border: 7px solid transparent;
  border-top: 7px solid #ec902e;
  border-right: 7px solid #ec902e;
  position: absolute;
  top: 512px;
  left: 84px;
}

.secondContents .slanting2 {
  height: 0px;
  width: 0px;
  border: 7px solid transparent;
  border-top: 7px solid white;
  border-right: 7px solid white;
  z-index: 5;
  position: absolute;
  top: 511px;
  left: 85px;
  z-index: 3;
}

.secondContents .line {
  width: 67px;
  border-top: 1px solid #ec902e;
  float: left;
  position: absolute;
  top: 525px;
  left: 97px;
  z-index: 4;
}

.secondContents .circle9 {
  height: 20px;
  width: 20px;
  top: 420px;
  left: 300px;
  border: 1px solid #ef932e;
}

.secondContents .triangle {
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: 8px solid #ef932e;
  position: absolute;
  top: 422px;
  left: 307px;
}


/*
告白していない場合
*/
.firstContents .cover {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 240px;
  background-color: rgba(255, 255, 255, 0.5);
}

.firstContents .line-out{
  position: relative;
  top: 100px;
  background-color: rgba(255, 255, 255, 0.6);
  padding-top: 1px;
  padding-bottom: 1px;
}

.firstContents .line-in {
  border-top: #ec902e solid 1px;
  border-bottom: #ec902e solid 1px;
}

.firstContents .line-in p{
  z-index: 10;
  margin: 0px;
  font-size: 23px;
  color: #261a0d;
  padding-left: 15px;
  padding-top: 4px;
}

.firstContents .to-select1{
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-left: 7px solid #ec902e;
  position: absolute;
  top: 14px;
  left: 295px;
}

.firstContents .to-select2{
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-left: 7px solid #ec902e;
  position: absolute;
  top: 14px;
  left: 306px;
}



/*
告白されていない場合
*/
.secondContents .cover{
  position: absolute;
  top: 290px;
  width: 100%;
  height: 240px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;
}

.secondContents .line-out{
  position: relative;
  top: 100px;
  background-color: rgba(236, 144, 46, 0.6);
  padding-top: 1px;
  padding-bottom: 1px;
}

.secondContents .line-in {
  border-top: white solid 1px;
  border-bottom: white solid 1px;
}

.secondContents .line-in p{
  position: inherit;
  z-index: 10;
  margin: 0px;
  font-size: 23px;
  color: #261a0d;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

.center {
  text-align: center;
}

.seondContents p {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* アニメーション */

.anim1 {
  position: absolute;
  top: 50px;
  left: 200px;
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.anim-mask1 {
  position: relative;
  top: 5px;
  left: 45px;
}

.anim2 {
  position: absolute;
  top: 410px;
  left: 0px;
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.anim-mask2 {
  position: relative;
  top: 45px;
  left: 5px;
}

.anim-circle {
  width: 70px;
  height: 70px;
  -moz-border-radius: 130px;
  -webkit-border-radius: 130px;
  border-radius: 130px;
  border: 10px solid white;
  position: relative;
}

.anim-circle2 {
  width: 70px;
  height: 70px;
  -moz-border-radius: 130px;
  -webkit-border-radius: 130px;
  border-radius: 130px;
  border: 10px solid white;
  position: relative;
}

.anim2 .anim-circle2 {
  border-color: #ec902e;
}


.anim-line {
  position: absolute;
  height: 52px;
  width: 100%;
  border-top: 3px solid #ec902e;
  border-bottom: 3px solid #ec902e;
  top: 146px;
  z-index: 12;
}


.secondContents .date {
  color: #ec902e;
  position: absolute;
  top: 415px;
  left: 190px;
}