.page{
  width:100%;
  margin: 50px auto 20px;
  border-top: 1px solid #ccc;
}

.hero{
  padding: 5px 60px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.contents {
  height: 100%;
}

.firstContents {
  background-color: #ef932e;
  height: 240px;
}

/*
 * Mypage
 */

.myPage {
  height: 100%
}

.myPage .lines {
  margin-left: 20px;
}

.myPage .line {
  margin-top: 30px;
  margin-right: 10px;
  width: 10px;
  border-top: 3px solid white;
  float: left;
}

.myPage .firstContents p {
  margin-top: 50px;
  font-size: 30px;
  color: #ece0d2;
}

.strong {
  font-size: 45px;
  margin-left: 10px;
  margin-right: 4px;
}

.myPage .firstContents .image {
  display: table;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  position: absolute;
  right: -10px;
  top: 45px;
}

.myPage .firstContents .face-out-circle {
    height: 100px;
    width: 100px;
    margin: 0px auto;
    -moz-border-radius: 130px;
    -webkit-border-radius: 130px;
    border-radius: 130px;
    border: 1px solid #ecb47b;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.myPage .firstContents img {
  height: 90px;
  width: 90px;
  margin: 0px auto;
  background-size: cover;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 5px solid #eca052;
}

.myPage .secondContents .circle {
  margin: 0px auto;
  -moz-border-radius: 130;
  -webkit-border-radius: 130px;
  border-radius: 130;
  background-color: #ece0d2;
  position: absolute;
}

.myPage .secondContents .borderCircle {
    margin: 0px auto;
    -moz-border-radius: 130;
    -webkit-border-radius: 130px;
    border-radius: 130;
    border: 2px solid #ece0d2;
    position: absolute;
}

.myPage .firstContents .circle1 {
  height: 10px;
  width: 10px;
  top: 230px;
  left: 115px;
}

.myPage .firstContents .circle2 {
  height: 13px;
  width: 13px;
  top: 215px;
  left: 100px;
}

.myPage .firstContents .circle3 {
  height: 18px;
  width: 18px;
  top: 195px;
  left: 112px;
}

.myPage .firstContents .circle4 {
  height: 22px;
  width: 22px;
  top: 173px;
  left: 95px;
}

.myPage .firstContents .circle5 {
  height: 30px;
  width: 30px;
  top: 158px;
  left: 122px;
}

.myPage .firstContents .circle6 {
  height: 30px;
  width: 30px;
  top: 121px;
  left: 114px;
}

.myPage .firstContents .circle7 {
  height: 45px;
  width: 45px;
  top: 130px;
  left: 160px;
}

.myPage .firstContents .circle8 {
  height: 55px;
  width: 55px;
  top: 70px;
  left: 136px;
}


.myPage .firstContents .slanting {
  height: 0px;
  width: 0px;
  border: 10px solid transparent;
  border-top: 10px solid #ece0d2;
  border-left: 10px solid #ece0d2;
  position: absolute;
  top: 166px;
  left: 210px;
}

.myPage .firstContents .slanting2 {
  height: 0px;
  width: 0px;
  border: 10px solid transparent;
  border-top: 10px solid #ef932e;
  border-left: 10px solid #ef932e;
  z-index: 10;
  position: absolute;
  top: 165px;
  left: 209px;
}

.myPage .firstContents .line  {
  border-top: 1px solid #ece0d2;
  height: 0px;
  width: 100px;
  position: absolute;
  top: 156px;
  left: 210px;
}

.myPage .firstContents .circle9 {
  height: 20px;
  width: 20px;
  top: 220px;
  left: 300px;
  border: 1px solid #ece0d2;
}

.myPage .firstContents .triangle {
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: 8px solid #ece0d2;
  position: absolute;
  top: 222px;
  left: 307px;
}

.myPage .firstContents .pct p {
  color: #eee;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 190px;
  right: 3px;
}

/* Middle Contents from Here */
.myPage .middleContents .image {
  display: table;
  position: absolute;
  top: 227px;
  left: 110px;
}

.myPage .middleContents .face-out-circle {
    height: 110px;
    width: 110px;
    margin: 0px auto;
    -moz-border-radius: 130px;
    -webkit-border-radius: 130px;
    border-radius: 130px;
    border: 1px solid #ecb47b;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.myPage .middleContents img {
  height: 100px;
  width: 100px;
  margin: 0px auto;
  background-size: cover;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 5px solid #eca052;
}

/* Second Contents from Here */
.myPage .secondContents .pct p {
  color: #ef932e;
  font-size: 40px;
  position: absolute;
  top: 240px;
  left: 10px;
}

.myPage .secondContents .circle {
  margin: 0px auto;
  -moz-border-radius: 130;
  -webkit-border-radius: 130px;
  border-radius: 130;
  background-color: #eee;
  position: absolute;
}

.myPage .secondContents .borderCircle {
    margin: 0px auto;
    -moz-border-radius: 130;
    -webkit-border-radius: 130px;
    border-radius: 130;
    border: 3px solid #eee;
    position: absolute;
}

.myPage .secondContents .circle1 {
  height: 20px;
  width: 20px;
  top: 249px;
  left: 77px;
}

.myPage .secondContents .circle2 {
  height: 23px;
  width: 23px;
  top: 225px;
  left: 51px;
}

.myPage .secondContents .circle3 {
  height: 30px;
  width: 30px;
  top: 206px;
  left: 81px;
}

.myPage .secondContents .circle4 {
  height: 33px;
  width: 33px;
  top: 169px;
  left: 75px;
}

.myPage .secondContents .circle5 {
  height: 40px;
  width: 40px;
  top: 158px;
  left: 118px;
}

.myPage .secondContents .circle6 {
  height: 30px;
  width: 30px;
  top: 121px;
  left: 114px;
}

.myPage .secondContents .circle7 {
  height: 45px;
  width: 45px;
  top: 130px;
  left: 160px;
}

.myPage .secondContents .circle8 {
  height: 55px;
  width: 55px;
  top: 70px;
  left: 136px;
}

.myPage .secondContents .image {
  display: table;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  position: absolute;
  left: -10px;
  top: 450px;
}

.myPage .secondContents .face-out-circle {
    height: 130px;
    width: 130px;
    margin: 0px auto;
    -moz-border-radius: 130px;
    -webkit-border-radius: 130px;
    border-radius: 130px;
    border: 1px solid #ef932e;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.myPage .secondContents img {
  height: 105px;
  width: 105px;
  margin: 0px auto;
  background-size: cover;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.myPage .secondContents p {
  margin-top: 50px;
  font-size: 30px;
  color: #ef932e;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.myPage .secondContents .circle9 {
  height: 20px;
  width: 20px;
  top: 420px;
  left: 300px;
  border: 1px solid #ef932e;
}

.myPage .secondContents .triangle {
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: 8px solid #ef932e;
  position: absolute;
  top: 422px;
  left: 307px;
}

