/*
* 白オレンジ         : #ece0d2
* 黒                : #261a0d
* 一番目に濃いオレンジ: #ec902e
* 二番目に濃いオレンジ: #eca052
* 三番目に濃いオレンジ: #ecb47b
* 一番目に濃い紫     : #b75fd4
* 二番目に濃い紫     : #de73e0
* 三番目に濃い紫     : #d685a6
* 黒紫              : #4f4549

* フォーム: #d4c7cc
* フォームタイトル: #9e9498
*/

.cover {
  position: absolute;
  top: 290px;
  width: 100%;
  height: 240px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;
}

.line-out {
  position: relative;
  top: 100px;
  background-color: rgba(236, 144, 46, 0.6);
  padding-top: 1px;
  padding-bottom: 1px;
}

.line-in {
  border-top: white solid 1px;
  border-bottom: white solid 1px;
}

.line-in p {
  position: inherit;
  z-index: 10;
  margin: 0px;
  font-size: 23px;
  color: #261a0d;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}