/*
* 白オレンジ         : #ece0d2
* 黒                : #261a0d
* 一番目に濃いオレンジ: #ec902e
* 二番目に濃いオレンジ: #eca052
* 三番目に濃いオレンジ: #ecb47b
* 一番目に濃い紫     : #b75fd4
* 二番目に濃い紫     : #de73e0
* 三番目に濃い紫     : #d685a6
* 黒紫              : #4f4549

* フォーム: #d4c7cc
* フォームタイトル: #9e9498
*/

body {
  background-color: #ec902e;
}

.box {
  margin-top: 10px;
  margin-bottom: 65px;
}

.white, .white a {
  color: white;
  height: 40px;
  width: 40px;
  float: left;
  margin-top: 3px;
  margin-left: 12px;
  margin-right: 0px;
  color: white;
  font-size: 30px;
}

input[type=name] {
  width: 220px;
  height: 40px;
  border-radius: 0px;
  border: 3px solid #ecb47b;
  float: left;
  box-shadow: none;
}

.selectPage .select {
  clear: both;
  width: 305px;
  height: 20px;
  position: relative;
  left: -10px;
  top: -10px;
}

.selectPage .face-out-circle {
  height: 90px;
  width: 90px;
  margin: 0px auto;
  margin-left: 11px;
  margin-top: 15px;
  -moz-border-radius: 130px;
  -webkit-border-radius: 130px;
  border-radius: 130px;
  border: 1px solid #ecb47b;
  float: left;
}

.selectPage img {
  height: 80px;
  width: 80px;
  margin: 0px auto;
  background-size: cover;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 5px solid #eca052;
  position: relative;
  top: 5%;
  left: 5%;
}
  
.bar {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #ecb47b;
  margin-top: 100px;
  clear: both;
}

.bar .line {
  width: 100%;
  height: 2px;
  background-color: #ec902e;
  position: relative;
}

.bar .line1{
  top: 11%;
}

.bar .line2 {
  top: -29%;
}

.bar h3 {
  position: relative;
  top: 10%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.box input:focus {
  box-shadow: none;
  border-color: #ecb47b;
}
